html {
    scroll-behavior: smooth;
}

h1 {color: #9fd3c7;
  text-align: center;
background-color: #244056;
padding: 10px;
margin: 25px;
border: solid 10px #114975;}
body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: #3f4b46;
}

ul {text-align: center;
font-size: 25px;
list-style-type: none;}

#postcontent {
    display: none;
    font-size: 16px;
    margin-top: 20px;
    max-width: fit-content;
    margin: 20px auto;
    padding: 20px;
    background-color: #116466;
}

.post {
    color: #116466;
    background-color: #D1E8E2;
     border: 12px solid #244056;
     padding: 20px;
     margin: 25px;
}
.post-title {color:#114975;
  margin: 0;
    font-size: 2rem;
    letter-spacing: 1px;
    padding-bottom: 6px;
}

.sidebar {
    color: #237c20;
    margin: 20px;
      margin-top: 70%;
      padding-top: 25px;
      padding-left:50px; padding-right: 50px;
      padding-bottom: 25%;
  background-color: rgb(124, 187, 242);
  border: double 5px #5c6972;
}
a {
     text-decoration: none;
  color: black;
}
.readmore :hover {color: #0f3857;}
